<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/quotes">Dashboard</a>
    <a href="/main/logout">Logout</a>

    <br><br>
    <h2>{{user.first_name}}</h2>
    <h3>{{count}}</h3>
    <br><br>
    {% for q in quote %}
    <p>{{q.quoted_by}}: {{q.message}}</p>
    <br>
    {% endfor %}
</body>
</html>